body{
  width:100%;
  margin:0;
  text-align:center;
  font-family:'Open Sans', sans-serif;
  position:relative;
  background-color: rgba(0, 0, 0, 0.9);
  color: gray;
}
section{
  width:calc(100% - 40px);
  padding:20px;
  display:block;
}

#chart-container{
  margin:0 auto;
  width:100%;
  max-width:1000px;
}

p{
  margin:0 0 20px;
}
