body{
  width:100%;
  margin:0;
  text-align:center;
  font-family:'Open Sans', sans-serif;
  position:relative;
  background-image: url(https://68.media.tumblr.com/5214019338f590d7ccac7d987b3a3b53/tumblr_o8fpknygyT1vwnw65o1_r1_1280.gif);
  background-color: rgba(0, 0, 0, 0.9);
  color: lightgray;
}
section{
  width:calc(100% - 40px);
  padding:20px;
  display:block;
}

#chart-container{
  margin:0 auto;
  width:100%;
  max-width:1000px;
}

p{
  margin:0 0 20px;
}
